doctype html
html(lang="en")
	head
		title Landing Page
	body
		h1 The future home of something cool
		p Migas ugh readymade, pork belly meh wayfarers art party before they sold out sustainable aesthetic biodiesel Thundercats XOXO lomo health goth. Raw denim ugh mustache gentrify. Ethical Kickstarter health goth, keytar American Apparel migas sartorial kale chips PBR&B salvia gastropub drinking vinegar tilde cliche. Typewriter fap meh, messenger bag McSweeney's occupy kogi pork belly PBR&B pickled fanny pack locavore flannel art party paleo. Banh mi beard wolf photo booth, semiotics pour-over freegan literally dreamcatcher brunch. Lumbersexual Odd Future gluten-free yr VHS direct trade mumblecore, dreamcatcher slow-carb food truck small batch roof party. Trust fund Portland cliche you probably haven't heard of them, direct trade American Apparel seitan High Life whatever messenger bag yr salvia quinoa fixie next level.
		p Cray iPhone chambray chia Odd Future raw denim Echo Park Etsy. Scenester twee mixtape cold-pressed Odd Future. Irony twee jean shorts kogi trust fund farm-to-table, occupy art party Intelligentsia. Squid drinking vinegar VHS, Banksy locavore freegan plaid hella direct trade retro. Meh butcher McSweeney's Truffaut. Master cleanse plaid Pitchfork, readymade wayfarers squid tattooed single-origin coffee aesthetic fap meh four dollar toast gentrify locavore. Put a bird on it fixie freegan blog.
		p Tumblr wolf Austin Marfa. Mustache Thundercats PBR cardigan. Yr banh mi Tumblr, DIY plaid flannel Banksy pop-up drinking vinegar Echo Park organic slow-carb irony. Vegan irony Pinterest, Shoreditch polaroid selfies XOXO fap disrupt shabby chic Marfa ugh selvage iPhone YOLO. Cardigan Neutra post-ironic, wolf authentic gastropub ethical ennui keffiyeh Echo Park. Drinking vinegar Intelligentsia bitters, locavore church-key seitan pour-over gentrify biodiesel Brooklyn. Tilde hoodie American Apparel, Carles whatever wayfarers locavore viral.
